* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #E5E7EB;
}

.homeContainer {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 40px auto 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.navTopContainer {
  display: grid;
  grid-area: 2 / 2 / 3 / 4;
  align-items: center;
}

.navTopContainerFlex {
  display: flex;
  gap: 100px;
}

.navLogo {
  width: 146px;
  height: 21px;
}

.navMenuContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart {
  width: 28px;
  height: 25px;
}

.menu {
  width: 23px;
  height: 17px;
}

.navBottomContainer {
  display: grid;
  grid-area: 3 / 2 / 4 / 3;
}

.navBottomContainerFlex {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.navBottomContainerFlex button {
  width: 130px;
  font-size: 18px;
  border-style: none;
  background-color: transparent;
}

.homeImageWrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homeImage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.headlineContainer {
  display: grid;
  grid-template-rows: 300px 190px;
  grid-template-columns: 40px 1fr 40px;
  position: relative;
  z-index: 1;
}

.homeHeadline {
  font-size: 28px;
  font-weight: bold;
  grid-area: 2 / 2 / 3 / 3;
}

.developer {
  font-size: 42px;
}

.apparelContainer {
  background-color: #0D1117;
}

.product1Container {
  display: grid;
  grid-template-rows: 50px 370px 50px 50px 120px;
  grid-template-columns: 40px auto 40px;
}

.product1Image {
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  width: 355px;
  height: 355px;
  justify-self: center;
  align-self: center;
}

.namePrice {
  display: grid;
  grid-area: 3 / 2 / 4 / 3;
  justify-items: center;
  align-content: center;
}

.addBuy {
  display: grid;
  grid-area: 4 / 2 / 5 / 3;
}

.addBuyFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buy {
  border-color: #00FF9F;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  width: 100px;
  height: 30px;
}

.product2Container {
  display: grid;
  grid-template-rows: 80px 370px 50px 50px 50px 120px;
  grid-template-columns: 40px auto 40px;
}

.product2Image {
  width: 311px;
  height: 363px;
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
}

.product2NamePrice {
  display: grid;
  grid-area: 4 / 2 / 5 / 3;
  justify-content: center;
  text-align: center;
}

.product2AddBuy {
  display: grid;
  grid-area: 5 / 2 / 6 / 3;
}

.product3Container {
  display: grid;
  grid-template-rows: 80px 50px 50px 500px 120px;
  grid-template-columns: 40px 70px 80px 200px 40px;
}

.product3Image {
  display: grid;
  grid-area: 2 / 3 / 5 / 5;
  width: 297px;
  height: 583px;
}

.product3NamePrice {
  display: grid;
  grid-area: 2 / 2 / 3 / 4;
  text-align: center;
}

.product3AddBuy {
  display: grid;
  grid-area: 3 / 2 / 4 / 4;
}

.product4Image {
  width: 333px;
  height: 333px;
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  align-self: center;
  justify-self: center;
}

.product5Container {
  display: grid;
  grid-template-rows: 50px 510px 50px 50px 50px 120px;
  grid-template-columns: 40px auto 40px;
}

.product5Image {
  width: 298px;
  height: 507px;
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
  align-self: center;
}

.product5NamePrice {
  display: grid;
  grid-area: 4 / 2 / 5 / 3;
  text-align: center;
}

.product5AddBuy {
  display: grid;
  grid-area: 5 / 2 / 6 / 3;
}

.footerParent {
  display: grid;
  grid-template-rows: 300px 50px 50px 50px 30px;
  grid-template-columns: 40px auto 40px;
}

.statement {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
}

.statementBold {
  font-size: 20px;
  font-weight: bold;
}

.green {
  color: #00FF9F;
  font-size: 32px;
}

.yellow {
  color: #F1FA8C;
  font-size: 32px;
}

.red {
  color: #FF5555;
  font-size: 32px;
}

.blue {
  color: #61AFEF;
  font-size: 32px;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.logo {
  width: 146px;
  height: 21px;
  display: grid;
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
  align-self: center;
}

.suggestion {
  display: grid;
  grid-area: 3 / 2 / 4 / 3;
  justify-self: center;
  align-self: center;
  font-size: 12px;
}

.socMed {
  display: grid;
  grid-area: 4 / 2 / 5 / 3;
}

.socMedFlex {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.socMed img {
  width: 24px;
  height: 24px
}

.copyright {
  width: 100%;
  height: 30px;
  background-color: #161d27;
  display: grid;
  grid-area: 5 / 1 / 6 / 4;
  justify-content: center;
  align-content: center;
  font-size: 10px;
}